@import url("https://fonts.googleapis.com/css?family=Inter:300,regular,500,600,700,800,900&display=swap");* {
	padding: 0rem;
	margin: 0rem;
	border: 0rem;
}

.index {
  width: 100%;
  min-height: 100dvh;
}

.lc-wrap {
  width: 100%;
  min-height: 100%;
  position: relative;
}

.liquidChrome-container {
  width: 100%;
  min-height: 100%;
  position: relative;
}

canvas {
  min-height: 100dvh;
}

.text {
  font-size: 4.125rem;
  font-weight: 800;
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;
}