body {
  background-color: var(--color-neutral-900, #131313);
  color: var(--color-light, #efeeec);
  font-size: 1vw;
  margin: 0;
  cursor: auto;
}

a,
button,
.pixelated-image-card {
  cursor: pointer;
}

.cloneable {
  padding: var(--container-padding, 2rem);
  justify-content: center;
  align-items: center;
  min-height: 100svh;
  display: flex;
  position: relative;
}

.pixelated-image-card {
  background-color: var(--color-neutral-800, #1d1d1d);
  color: var(--color-primary, #efeeec);
  border-radius: .5em;
  width: 30vw;
  max-width: 100%;
  position: relative;
  overflow: hidden;
}

.before__100 {
  padding-top: 100%;
}

.pixelated-image-card__default,
.pixelated-image-card__img,
.pixelated-image-card__active,
.pixelated-image-card__pixels {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.pixelated-image-card__img {
  object-fit: cover;
}

.pixelated-image-card__active {
  display: none;
}

.pixelated-image-card__pixel {
  background-color: currentColor;
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
}

@font-face {
  font-family: 'PP Neue Montreal';
  src: url('https://cdn.prod.website-files.com/6819ed8312518f61b84824df/6819ed8312518f61b84825ba_PPNeueMontreal-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'PP Neue Montreal', Arial, sans-serif;
}

@media (max-width: 991px) {
  body {
    font-size: 16px;
  }

  .pixelated-image-card {
    width: min(84vw, 420px);
  }
}
