---
import Layout from "../layouts/Layout.astro";
---

<Layout uid="about">
  <div class="content about">
    <h1 class="title">about</h1>
    <p>Credits: <a href="https://www.faint-film.com/" target="_blank">https://www.faint-film.com/</a></p>
  </div>
</Layout>
