---
import Layout from "../layouts/Layout.astro";
---

<Layout uid="archive">
  <div class="content archive">
    <h1 class="title">archive</h1>
    <p>Credits: <a href="https://truus.co/" target="_blank">https://truus.co/</a></p>
  </div>
</Layout>
