---
import Layout from "../layouts/Layout.astro";
---

<Layout uid="contact">
  <div class="content contact">
    <h1
      class="title"
      data-motion-text="true"
      data-motion-text-split="chars"
      data-motion-text-duration="0.5"
    >
      contact
    </h1>
    <p>Credits: <a href="https://www.leandra-isler.ch/" target="_blank">https://www.leandra-isler.ch/</a></p>
  </div>
</Layout>
