---
import Layout from "../layouts/Layout.astro";
---

<Layout uid="team">
  <div class="content team">
    <h1
      class="title"
      data-motion-text="true"
      data-motion-text-split="chars"
      data-motion-text-duration="0.75"
    >
      team
    </h1>
    <p>Credits: <a href="https://bloomparis.tv/" target="_blank">https://bloomparis.tv/</a></p>
  </div>
</Layout>
