---
import Layout from "../layouts/Layout.astro";
---

<Layout uid="works">
  <div class="content works">
    <h1
      class="title"
      data-motion-text="true"
      data-motion-text-split="chars"
      data-motion-text-duration="0.5"
    >
      works
    </h1>
    <p>Credits: <a href="https://codepen.io/GreenSock/full/EaKpEpJ" target="_blank">https://codepen.io/GreenSock/full/EaKpEpJ</a></p>
  </div>
</Layout>
